@font-face {
    font-family: regular;
    src: url("./Plaax-36-Ney-Regular-205TF.ttf");
}

@font-face {
    font-family: heavy;
    src: url("./Plaax-56-Ney-Heavy-205TF.ttf");
}

.elem {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}